body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 1.5em;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.logo-container {
  text-align: center;
  margin: 5px 0;
}

.logo-img {
  max-width: 350px;
  height: auto
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #28a745;
}

.hero h1 {
  font-size: 2.8em; /* Ajuste este valor para o tamanho desejado */
  /* Mantenha outras propriedades existentes se houver, como color, margin, etc. */
}

.section, .app-section, .container {
  padding: 40px 20px;
  max-width: 1100px;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  flex: 1;
  min-width: 230px;
  max-width: 250px;
  border: 2px solid #28a745;
}

.card.destaque {
  border: 2px solid #28a745;
}

.card h2 {
  margin-top: 0;
}

.card ul {
  padding-left: 20px;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  color: #1abc9c;
}

button, .btn-cta {
  background-color: #28a745;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.buttons button {
  margin-right: 8px;
  margin-bottom: 10px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.app-image img {
  width: 250px;
  border-radius: 8px;
}

.app-text ul {
  padding-left: 20px;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}


.section .cards .card .img-card {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cta-button{ 
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
      margin-top: 16px;
  font-weight: bold;
  text-align: center;
}

.cta-button:hover { 
  background-color:#28a745;
  transform: scale(1.05);
}
.app-image {
  flex: 1;
  min-width: 250px;
}

.app-text {
  flex: 2;
  min-width: 300px;
}